# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a
*.lib
*.pdb

# Executables
*.exe
*.out
*.app
*.apk


# Visual Studio project files
*.sln
*.suo
*.sdf
*.opensdf
*.vcxproj.user

# Xcode project files
*.xcodeproj

# Unreal Directories
/Particles/Binaries
/Particles/DerivedDataCache
/Particles/Intermediate
/Particles/Saved
/Particles/Build
!/Particles/Build/Windows/Application.ico
/Particles/Plugins/Substance/Binaries/
!/Particles/Plugins/Substance/Source/SubstanceCore/lib/linux/release/libSubstance.a
!/Particles/Plugins/Substance/Source/SubstanceCore/lib/win32-msvc2013/release_md/Substance.lib
!/Particles/Plugins/Substance/Source/SubstanceCore/lib/win32-msvc2013-64/release_md/Substance.lib

*.hmap
*.exp
*.dat
*.dep
